<footer>
    <img class="logo" src="/img/bodyDouble_logo.png" height="100px">
   
    <div class="footer-container">
        <div class="company">
    <ul>
        <li>Company</li>
        <a href=""><li>About</li></a>
        <a href=""><li>Contact</li></a>
        <a href=""><li>Join</li></a>
    </ul>
    </div>

    <div class="resources">
    <ul>
        <li>Resources</li>
        <a href=""><li>Guides</li></a>
        <a href=""><li>Community</li></a>
        <a href=""><li>Help</li></a>
    </ul>
    </div>

    <div class="legal">
    <ul>
        <a href=""><li>Terms</li></a>
        <a href=""><li>Privacy</li></a>
        <a href=""><li>Security</li></a>
        <a href=""><li>Cookies</li></a>
    </ul>
    </div>

    <div class="subscription">
    <form action="/subscription" method="post">
    <span class="subscribe">Subscribe</span>
    <div class="text">
    <span>Stay updated with our latest features and platform improvements.</span>
    <input type="email" name="email" placeholder="Enter email address"> 
    <button id="submit" type="submit">Submit</button>
    </form>
    </div>
    </div>

    </div>

    <div class="bottomFooter">
    <span>2025 BODY/DOUBLE</span>
    <span>Privacy policy</span>
    <span>Terms of service</span>
    <span>Cookie settings</span>

    <div class="icons">
    <a href="https://x.com/NaimaBogran"><i class="fa-brands fa-x-twitter"></i></i></a>
    <a href="https://www.linkedin.com/in/naima-bogran-bba3aa37a/" class="fa fa-linkedin"></a>
    <a href="https://github.com/NaimaBogran" class="fa fa-github"></a>
    </div>
    </div>
</footer>
<script src="/socket.io/socket.io.js"></script>
</body>
</html>