<%- include ('partials/loggedInHeader') -%>

<section>
<div class="card">
<form action="/filters" method="POST">
  <h2>what are you working on?</h2>
  <label><input type="checkbox" name="workType" value="studying"> Studying</label>
  <label><input type="checkbox" name="workType" value="coding"> Coding</label>
  <label><input type="checkbox" name="workType" value="writing"> Writing</label>
  <label><input type="checkbox" name="workType" value="editing"> Editing</label>

  <h2>what's your camera preference?</h2>
  <label><input type="radio" name="camera" value="on" required> Camera On</label>
  <label><input type="radio" name="camera" value="off" required> Camera Off</label>

  <button class="btn btn-primary" type="submit">find your BODY/DOUBLE</button>
</form>
</div>
</section>

<%- include('partials/footer') -%>