/*****************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

/* 
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/******************************************
/* HEADER STYLES
/*******************************************/


header{
    background-color: rgb(253, 245, 232);
    height: 100px;
}

.logo{
    float: left;
    padding-left: 50px;
}

header li, select, .headerButtons{
    display: inline;
  font-family: 'Inter', sans-serif;
    font-size:25px;
}

ul{
    padding-top: 20px;
}

li, select{
    padding-left: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.headerButtons{
margin-left: 40%;
}

#login, #signup{
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 4px 6px rgb(215, 207, 195);
    background-color: rgb(253, 245, 232);
    border: none;
    font-size: 20px;
}

#signup{
    background-color: rgb(51, 50, 148);
    box-shadow: 0 4px 6px rgb(23, 23, 67);
}

.signup{
    color: white;
}

select{
    border: none;
    background-color: rgb(253, 245, 232) ;
    width: 100px;
}


/******************************************
/* MAIN STYLES
/*******************************************/

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 100px;
  font-family: 'Inter', sans-serif;
  background: rgb(242, 242, 242) ;
  border-radius: 12px;
}

h1{
    font-family:'Figtree', 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 70px;
    margin-right: 80px;
    margin-left: 20px;
}

main p{
    font-size: 20px;
    margin-right: 70px;
    margin-left: 20px;
}

main img {
  width: 45%;
  max-width: 500px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#getStarted, #learnMore{
    margin: 10px;
    border-radius: 50px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 4px 6px rgb(215, 207, 195);
    background-color: rgb(253, 245, 232);
    border: none;
    font-size: 20px;
}

#getStarted{
    background-color: rgb(51, 50, 148);
    box-shadow: 0 4px 6px rgb(23, 23, 67);
    color: white;
}




/******************************************
/* FEATURES SECTION STYLES
/*******************************************/

.features{
    background: rgb(204, 183, 246);
    height: 600px;
}

#features{
    text-align: center;
    margin: 0;
}

h4{
    font-family:'Figtree', 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 0;
}
h2{
    font-family:'Figtree', 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 70px;   
    margin: 0px;
    padding: 20px;
}

#features span{
    font-family:'Figtree', 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 20px;   
}

.features {
  background: rgb(204, 183, 246);
  padding: 60px 40px;
  text-align: center;
}

/* Create a flex container only for the feature boxes */
.features .features-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 50px;
  margin-top: 40px;
}

/* Individual feature boxes */
.pomodoroMethod,
.communicate {
  flex: 1;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  text-align: left;
}

/******************************************
/* CONNECT SECTION STYLES
/*******************************************/

.connectSection{
    background-image: url('https://images.pexels.com/photos/6925373/pexels-photo-6925373.jpeg?_gl=1*1es1jdo*_ga*MjEzNDkyNjk1NC4xNzYyNTkxMzE1*_ga_8JE65Q40S6*czE3NjI1OTEzMTQkbzEkZzAkdDE3NjI1OTEzMTQkajYwJGwwJGgw');
    background-size: cover;
    font-family:'Figtree', 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 20px;  
    color: white;
    width: 700px;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    text-align: left;
}

.connectSection span{
    font-weight: 700;
    padding: 50px;
    position: relative;
    top: 30px;
}

.connectSection h3{
    font-size: 50px;
    padding-left: 50px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.connectSection p{
    font-size: 20px;
    font-weight: 400;
    padding-left: 50px;
    margin: 0;
}

#explore, #learn{
    background: transparent;
    font-size: 20px;
    border: none;
    margin-top: 20px;
    color: white;
}

#learn a{
    color: white;
}

#explore{
    margin-left: 50%;
    border-radius: 50px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 4px 6px rgb(215, 207, 195);
    border: solid 1px rgb(215, 207, 195);
    font-size: 20px;
}


.connectSection button {
  background-color: rgb(51, 50, 148);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/******************************************
/* POMODORO SECTION STYLES && COMMUNICATE SECTION STYLES
/*******************************************/

.pomodoroMethod, .communicate{
    background-image: url('https://t3.ftcdn.net/jpg/15/55/23/00/240_F_1555230053_pWwHVOWApyrTLgutdLt3YWNynhnFDekX.jpg');
    background-size: cover;
    font-family:'Figtree', 'Courier New', Courier, monospace;
    font-weight: 300;
    font-size: 20px;  
    color: white;
}

.pomodoroMethod h3, .communicate h3{
    margin: 0px;
    font-size: 30px;
}

.pomodoroMethod a, .communicate a{
    font-weight: 700;
    color: white;
}

.communicate{
    background-image: url('https://t4.ftcdn.net/jpg/16/35/78/65/240_F_1635786529_LXB7lDGntvaukXAW2156CzqSAGpJQOkc.jpg');
}

/******************************************
/* HOW TO SECTION STYLES
/*******************************************/

/* HOW TO SECTION */
.howTo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 60px 40px;
  flex-wrap: wrap;
}

/* Left side: all the text content */
.howContent {
  padding-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 50px;
}

.howContent h4{
    font-size: 30px;
    padding-bottom: 10px;
}

/* Each step row */
.howContent > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.howContent svg {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  fill: rgb(51, 50, 148);
}

/* Stack h4 and span vertically inside each card */
.howContent .text {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Right side image */
.howTo img {
  flex: 1;
  max-width: 500px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-top: 30px;
}
/* CTA row (Join Now + Learn More) */
.cta-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

/* Join Now button */
.cta-row button {
  background-color: rgb(51, 50, 148);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-row button:hover {
  background-color: rgb(35, 35, 110);
}

/* Learn More link */
.cta-row a {
  display: inline-flex;
  align-items: center;
  color: rgb(51, 50, 148);
  font-weight: 600;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  gap: 6px; /* spacing between text and arrow */
}

.cta-row a svg {
  width: 1em;  /* matches text size */
  height: 1em;
  vertical-align: middle;
}


/******************************************
/* FOOTER STYLES
/*******************************************/

footer{
    background-color: rgb(253, 245, 232);
}

/* Create a flex container only for the feature boxes */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 50px;
  margin-top: 40px;
  padding-bottom: 30px;
}

footer li{
    list-style: none;
    padding: 10px;
    font-family: 'Inter', sans-serif; 
    margin-left: 50px;  
}

.subscription{
  margin-top: 50px;
  margin-left: 20%;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subscribe{
    font-weight: 600;
}

footer .text{
    padding-top: 20px;
}

footer input{
    margin-top: 20px;
    background-color: aliceblue;
    padding: 10px;
    border: none;
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
}

#submit{
    margin: 10px;
    border-radius: 50px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 4px 6px rgb(215, 207, 195);
    background-color: aliceblue;
    border: none;
    font-size: 20px;
}

.bottomFooter{
    border-top: solid lightgrey 2px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Inter', sans-serif;
}

.bottomFooter span{
    padding-left: 20px;
    padding-right: 20px;
}

.icons{
    display: inline;
    margin-left: 40%;
    font-size: 20px;
}
.icons a{
    padding-left: 20px;
}


/******************************************
/* MEDIA QUERIES
/*******************************************/


@media screen and (max-width: 1280px) {

/******************************************
/* HEADER STYLES
/*******************************************/
.headerButtons{
margin-left: 30%;
}
  
/******************************************
/* MAIN STYLES
/*******************************************/

h1{
    font-size: 60px;
    margin-top: -20px;

}

main img {
  height: 670px;
  width: 600px;
}

#getStarted, #learnMore{
  margin-left: 60px;
}


/******************************************
/* FEATURES SECTION STYLES
/*******************************************/

/******************************************
/* CONNECT SECTION STYLES
/*******************************************/


.connectSection h3{
    font-size: 40px;
    padding-left: 50px;
    margin-right: 100px;
    margin-bottom: 20px;
}

/******************************************
/* FOOTER STYLES
/*******************************************/


.subscription{
  margin-left: 5%;
}
.icons{
  float: right;
}

}


@media screen and (max-width: 1100px) {

/******************************************
/* HEADER STYLES
/*******************************************/
.headerButtons{
margin-left: 20%;
}
  
/******************************************
/* MAIN STYLES
/*******************************************/

h1{
    font-size: 50px;
    margin-right: -20px;

}

main img{
  height: 400px;
}

main p{
  margin-right: -10px;
}

#getStarted, #learnMore{
  margin-left: 20px;
}


/******************************************
/* FEATURES SECTION STYLES
/*******************************************/

/******************************************
/* CONNECT SECTION STYLES
/*******************************************/


.connectSection h3{
    font-size: 30px;
    margin-top: 50px;
}

.connectSection p{
  margin-right: 20px;
}

#explore{
  margin-left: 150px;
  margin-top: 60px;
}

/******************************************
/* FOOTER STYLES
/*******************************************/

.footer-container{
  position: relative;
  right: 50px;
}

.subscription{
  margin-left: 25px;
}

#submit{
  margin: 0px;
}

.company, .resources, .legal{
  width: 150px;
}

}

@media screen and (max-width: 1050px) {

/******************************************
/* MAIN STYLES
/*******************************************/

h1{
    font-size: 40px;
    margin-right: -20px;

}

/******************************************
/* FEATURES SECTION STYLES
/*******************************************/

/******************************************
/* CONNECT SECTION STYLES
/*******************************************/

.connectSection h3{
    font-size: 30px;
    margin-right: 10px;
}

.connectSection p{
  margin-right: 10px;
}

#explore{
  margin-left: 50px;
  margin-top: 60px;
}

/******************************************
/* FOOTER STYLES
/*******************************************/

.footer-container{
  position: relative;
  right: 60px;
  gap: 30px;
}

.footer-container ul{
  padding: 0px;
}

.subscription{
  margin-left: 25px;
}

#submit{
  margin: 0px;
}

.company, .resources, .legal{
  width: 150px;
}

}

@media screen and (max-width: 800px) {

/******************************************
/* HEADER STYLES
/*******************************************/

header select{
  display: none;
}

#login{
  margin-left: -60px;
}
  
/******************************************
/* MAIN STYLES
/*******************************************/

 /* H1 full width at top */
main h1 {
  text-align: center;
    width: 700px;
    font-size: 40px;
    margin: 0 0 20px 0; 
}


  /* Stack the whole main vertically (h1 first) */
  main {
    flex-direction: column;
    gap: 20px;
    margin: 40px 20px;
  }

  /* Second row: LEFT textColumn | RIGHT image */
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: start;
    gap: 20px;
  }

  /* LEFT COLUMN — p + buttons together */
  .textColumn {
    grid-column: 1 / 2;
  }

  .textColumn p {
    margin-right: 400px;
  }

  .textColumn button {
    width: fit-content;
    display: block;
    margin: 10px 0;
  }

  /* RIGHT COLUMN — image */
  main img {
    grid-column: 2 / 3;
    justify-self: center;
    width: auto;
    position: relative;
    right: 350px;
  }
/******************************************
/* FEATURES SECTION STYLES
/*******************************************/

.features{
  height: 700px;
}

/******************************************
/* CONNECT SECTION STYLES
/*******************************************/

.communicate{
  display: none;
}

.howTo img{
  display: none;
}
/******************************************
/* FOOTER STYLES
/*******************************************/

.subscription{
  display: none;
}

}

/******************************************
/* CLEAN MOBILE FIX — 500px AND BELOW
*******************************************/
@media screen and (max-width: 500px) {

  /******** HEADER ********/

  /* Hide nav menu items */
  header ul li:nth-child(1),
  header ul li:nth-child(2),
  header ul li:nth-child(3) {
    display: none !important;
  }

  /* Header layout simplified */
  header {
    height: 100px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    position: relative;
    right: 150px;
  }

  /* Login + Signup inline, centered */
  .headerButtons {
    height: 60px;
    display: flex !important;
    flex-direction: row !important;
    gap: 12px;
    margin-left: 0 !important;
    position: relative;
    top: -100px;
    left: 60px;
  }

  #login,
  #signup {
    font-size: 15px !important;
    padding: 6px 14px !important;
  }



  /******** HERO IMAGES + CONTENT ********/

  /* Prevent side overflow from 800px rules */
  .main {
    flex-direction: column !important;
    width: 100% !important;
    gap: 15px !important;
  }

  main img {
    display: none;
  }

  /* Text centered */
  main h1 {
    text-align: center;
    font-size: 20px;
    width: 350px;
  }

  .textColumn p {
    text-align: center;
    margin: 0 auto !important;
    font-size: 16px !important;
    max-width: 320px;
  }

  #getStarted{
    position: relative;
    top: 5px;
    left: 20px;
  }

  #learnMore{
  position: relative;
  left: 170px;
  top: -47px;
  }



  /******** FEATURES IMAGES ********/

  h2{
    text-align: center;
    font-size: 50px;
  }

  .features{
    height: 1050px;
  }

  .features .features-container {
    flex-direction: column !important;
    gap: 20px !important;
  }

  .connectSection,
  .pomodoroMethod,
  .communicate {
    width: 100% !important;
    max-width: 100% !important;
    padding: 20px !important;
    height: auto !important;
  }

  .connectSection img,
  .pomodoroMethod img,
  .communicate img {
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
  }

  .connectSection, .pomodoroMethod{
    margin-left: -20px;
  }

  /******** HOW-TO ********/

  .howTo {
    padding: 20px 10px !important;
    text-align: center !important;
    flex-direction: column !important;
    gap: 25px;
  }

  .howContent > div {
    flex-direction: column !important;
    align-items: center !important;
  }

  .cta-row button{
    margin-left: 80px;
  }

  .learn{
    position: relative;
    left: 160px;
    top: -50px;
  }

  /******** FOOTER ********/

  footer {
    text-align: center;
    padding: 25px 0 !important;
  }

  /* Turn footer into 2 columns (instead of long list) */
  .footer-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 20px;
    justify-items: center;
    padding: 0 20px !important;
  }

  .footer-container ul {
    padding: 0 !important;
    margin: 0;
  }

  .footer-container li {
    margin-left: 0 !important;
    padding: 6px 0;
    font-size: 15px !important;
  }

  /* Bottom area */
  .bottomFooter {
    flex-direction: column !important;
    gap: 8px;
    text-align: center;
    margin-top: 20px;
  }

  .icons {
    justify-content: center !important;
    margin-left: 0 !important;
  }

}
